#button-back {
  color: black;
  text-decoration: none;
  background-color: #FAA613;
  padding: 10px 10px;
  border-radius: 8px;
  border: solid 1px black;
  opacity: 0.6;

  &:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
  }
}
